@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body{
  /*background-color: #e0ebe8;*/
  font-family: 'Roboto', sans-serif;
   /*background-color:rgb(244, 246, 248);*/
   background-color: #e0ebe8;
}

.coronalogo{
  animation-name: rotation_infinie;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes rotation_infinie{
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
header {
  position: fixed;
  z-index: 1;
  top: 0;
  /*outline: 1px solid black;*/
  width: 98.2%;
  background-color: #e0ebe8;
}
.sizeTextNav {
  font-size: 1.5rem;
}

main{margin-top: 120px; background-color: #e0ebe8;}

#main{
  background-color:#e0ebe8 ;
  height:100vh;
  width: 70vw;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}

